{%extends "base.html"%}
{% block content %}
  <!--<body background="download.jpg">-->

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/welcome">HOME</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="about.html">ABOUT <span class="sr-only"></span></a>
          </li>

        </ul>
      </div>



      <div class="nav navbar-navnavbar-right" id="navbarSupportedContent">

          <li class="nav-item active">
            <a class="nav-link" href="/login">LOG IN <span class="sr-only"></span></a>
          </li>


      </div>



        <div class="nav navbar-navnavbar-right" id="navbarSupportedContent">

                <li class="nav-item active">
                  <a class="nav-link" href="/signup">SIGN UP <span class="sr-only"></span></a>
                </li>


            </div>
    </nav>



    <h1 style="color:rgb(109, 109, 109);" align="center"> this is the home page</h1>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
{% endblock %}
